<div class="mt-5 mb-3 d-flex">
  <div class="me-auto">
    <h2><%= t 'Create' %></h2>
  </div>
</div>

<form method="POST" action="/create">
  <input type="hidden" name="category" value="<%= @category %>"/>
  <input type="hidden" name="name" value="<%= @name %>"/>
  <input name="draft" type="hidden" value="on"/>
  <textarea name="content" id="content" style="display: none;"></textarea>

  <div class="row mb-3">
    <label for="title" class="col-sm-1 col-form-label"><%= t 'Title' %></label>
    <div class="col-sm-11">
      <input name="title" type="text" class="form-control" id="title"/>
    </div>
  </div>

  <div class="row mb-3">
    <label for="date" class="col-sm-1 col-form-label"><%= t 'Date' %></label>
    <div class="col-sm-5 col-md-4 col-lg-3 col-xl-2">
      <input name="date" type="date" value="<%= Date.today.strftime('%Y-%m-%d') %>" class="form-control" id="date"/>
    </div>
  </div>

  <div class="row" id="editor"></div>

  <div class="row mt-4">
    <input type="submit" value="<%= t 'Create post' %>" class="btn btn-primary col-sm-2 me-5">
  </div>
</form>

<%= render 'editor-script' %>
