<h1><%= t 'Dashboard' %></h1>

<input type="button" value="<%= t 'Create' %>"/>

<table>
  <% Dir.glob('content/blog/*.md') do |path| %>
    <tr>
      <td><%= path %></td>
      <td><a href="/edit/blog/<%= File.basename(path, '.md') %>"><%= t 'Edit' %></a></td>
    </tr>
  <% end %>
</table>
