<script>
  function ready(callbackFunction) {
    if (document.readyState != "loading") {
      callbackFunction(event);
    } else {
      document.addEventListener("DOMContentLoaded", callbackFunction);
    }
  }

  ready(function(event) {
    const options = {
      usageStatistics: false,
      minHeight: "500px",
      initialEditType: "markdown",
      previewStyle: "vertical",
      language: '<%= editor_language %>',
      initialEditType: 'wysiwyg',
      height: 'auto',
      hideModeSwitch: true,
      events: {
        change: function() {
          document.querySelector("#content").value = editor.toastuiEditor('getMarkdown');
        },
      },
    };

    const editor = $("#editor").toastuiEditor(options);

    editor.toastuiEditor('setMarkdown', document.querySelector("#content").value);
  })
</script>
