<div class="mt-5 mb-3 d-flex">
  <div class="me-auto">
    <h2><%= t 'Edit' %></h2>
  </div>
  <div class="p-3 me-4">
    <% if @file[:meta][:draft] %>
      <%= t 'Draft' %>
    <% else %>
      <%= t 'Public' %>
    <% end %>
  </div>
    <button type="button" class="btn btn-danger p-1 pe-4 ps-4" data-bs-toggle="modal" data-bs-target="#deleteModal">
      <%= t 'Delete' %>
    </button>
</div>

<form method="POST" action="/save">
  <input type="hidden" name="category" value="<%= @category %>"/>
  <input type="hidden" name="name" value="<%= @name %>"/>
  <input name="draft" type="hidden" id="draft" value="<%= @file[:meta][:draft] ? 'on' : 'off' %>"/>
  <textarea name="content" id="content" style="display: none;"><%= @file[:source] %></textarea>

  <div class="row mb-3">
    <label for="title" class="col-sm-1 col-form-label"><%= t 'Title' %></label>
    <div class="col-sm-11">
      <input name="title" type="text" value="<%= @file[:meta][:title] %>" class="form-control" id="title"/>
    </div>
  </div>

  <div class="row mb-3">
    <label for="date" class="col-sm-1 col-form-label"><%= t 'Date' %></label>
    <div class="col-sm-5 col-md-4 col-lg-3 col-xl-2">
      <input name="date" type="date" value="<%= @file[:meta][:date] %>" class="form-control" id="date"/>
    </div>
  </div>

  <div class="row" id="editor"></div>

  <div class="row mt-4">
    <input type="submit" value="<%= t 'Save post' %>" class="btn btn-primary col-sm-2 me-5">
  </div>
</form>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body p-4">
        <div class="row">
          <p class="col">
          <%= t 'Do you really want to delete this Post?' %>
          </p>
        </div>
        <div class="row">
          <div class="col">
            <form method="POST" class="d-flex" action="/delete/<%= @category %>/<%= @name %>">
              <button type="button" class="btn btn-secondary ms-auto" data-bs-dismiss="modal"><%= t 'Close' %></button>
              <input type="submit" class="btn btn-danger ms-2" value="<%= t 'Delete' %>"/>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'editor-script' %>
