<div class="mt-5 mb-3 d-flex">
  <div class="me-auto">
    <h2><%= t 'Info' %></h2>
  </div>
  <div class="p-3 ms-auto">
    <a class="btn btn-primary" href="/create/info"><%= t 'Create' %></a>
  </div>
</div>

<%= render 'list', locals: { posts: @posts }  %>
