<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Positive CMS</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/toastui-editor.min.css" rel="stylesheet"/>
    <style>
      @font-face {
        font-family: 'M PLUS 1p';
        font-style: normal;
        font-weight: 400;
        src: url('/font/m-plus-1p-v27-latin_japanese-regular.eot'); /* IE9 Compat Modes */
        src: local(''),
             url('/font/m-plus-1p-v27-latin_japanese-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url('/font/m-plus-1p-v27-latin_japanese-regular.woff2') format('woff2'), /* Super Modern Browsers */
             url('/font/m-plus-1p-v27-latin_japanese-regular.woff') format('woff'), /* Modern Browsers */
             url('/font/m-plus-1p-v27-latin_japanese-regular.ttf') format('truetype'), /* Safari, Android, iOS */
             url('/font/m-plus-1p-v27-latin_japanese-regular.svg#MPLUS1p') format('svg'); /* Legacy iOS */
      }

      body {
        font-family: "M PLUS 1p",system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        font-display: swap;
      }
    </style>
    <script src="/js/jquery-3.6.1.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/uploads.bundle.js"></script>

    <script>
      function ready(callbackFunction){
        if(document.readyState != 'loading')
          callbackFunction(event)
        else
          document.addEventListener("DOMContentLoaded", callbackFunction)
      }

      ready(event => {
        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
        var toastList = toastElList.map(function (toastEl) {
          var toast = new bootstrap.Toast(toastEl, {})
          toast.show()
        })
      })
    </script>
  </head>

  <body>
    <header class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Navigation">
      <div class="container">
        <a class="navbar-brand" href="/">Positive CMS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <% if logged_in? %>
              <% CATEGORIES.each do |category| %>
                <li class="nav-item">
                  <a class="nav-link"href="/<%= category %>"><%= t category.capitalize %></a>
                </li>
              <% end %>
              <li class="nav-item">
                <a class="nav-link" href="/uploads/0"><%= t 'Uploads' %></a>
              </li>
            <% end %>
          </ul>

          <div class="btn-group me-5">
            <% if git_changes? %>
              <form method="post" action="/publish">
                <input type="submit" class="btn btn-info" value="<%= t 'Publish' %>"/>
              </form>
            <% end %>
          </div>

          <div class="btn-group me-5">
            <a href="/language/ja" class="btn btn-secondary <%= language == 'ja' ? 'active' : '' %>">日本語</a>
            <a href="/language/en" class="btn btn-secondary <%= language == 'en' ? 'active' : '' %>">English</a>
          </div>

          <form method="POST" action="/logout">
            <div class="nav-item">
              <% if logged_in? %>
                <div class="nav-item dropdown">
                  <button class="dropdown-toggle btn btn-secondary" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <%= t 'Account' %>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/password_reset"><%= t 'Password' %></a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                      <input type="submit" class="dropdown-item btn btn-danger" value="<%= t 'Logout' %>"/>
                    </li>
                  </ul>
                </div>
              <% else %>
                <a class="btn btn-primary" href="/login"><%= t 'Login' %></a>
              <% end %>
            </div>
          </form>
        </div>
      </div>
    </header>

    <div aria-live="polite" aria-atomic="true" class="position-relative">
      <div class="toast-container position-absolute top-0 end-0 p-3">
        <% if toast %>
          <div class="toast align-items-center text-white bg-info border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
              <div class="toast-body">
                <%= t toast %>
              </div>
              <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <main role="main" id="<% @id %>" class="container">
      <%= yield %>
    </main>

    <footer class="container d-flex">
      <p class="mt-5 mb-3 ms-auto text-muted">&copy; <a href="http://www.positive.la/">Positive Company</a></p>
    </footer>

    <script src="/js/toastui-jquery-editor.min.js"></script>
    <script src="/js/ja-jp.min.js"></script>
  </body>
</html>
