<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"><%= t 'Date' %></th>
        <th scope="col"><%= t 'Title' %></th>
        <th scope="col"><%= t 'Status' %></th>
        <th scope="col"><%= t 'Actions' %></th>
      </tr>
    </thead>
    <tbody>
      <% posts.each do |entry|
          base = File.basename(entry[:path], '.md')
        %>
        <tr>
          <td><%= entry[:post][:meta][:date].strftime('%Y-%m-%d') %></td>
          <td><a href="/edit/<%= @category %>/<%= base %>"><%= entry[:post][:meta][:title] %></a></td>
          <td>
            <% if !entry[:post][:meta][:draft] %>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="public-<%= base %>" checked data-toggle="<%= "/toggle/#{@category}/#{ base }" %>"/>
                <label class="form-check-label" for="public-<%= base %>"><%= t 'Public' %></label>
              </div>
            <% else %>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="draft-<%= base %>" data-toggle="<%= "/toggle/#{@category}/#{ base }" %>"/>
                <label class="form-check-label" for="draft-<%= base %>"><%= t 'Draft' %></label>
              </div>
            <% end %>
          </td>
          <td><a class="btn btn-primary" href="/edit/<%= @category %>/<%= base %>"><%= t 'Edit' %></a></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  function ready(callbackFunction) {
    if (document.readyState != "loading") {
      callbackFunction(event);
    } else {
      document.addEventListener("DOMContentLoaded", callbackFunction);
    }
  }

  ready((event) => {
    var inputs = [].slice.call(document.querySelectorAll('.form-check-input'));
    inputs.map(function (el) {
      el.addEventListener('change', function(e){
        var target = e.target;
        fetch(target.dataset.toggle, { method: 'POST' }).then(() => {
          var label = target.parentElement.getElementsByClassName('form-check-label')[0]
          if (target.checked) {
            label.textContent = "<%= t 'Public' %>"
          } else {
            label.textContent = "<%= t 'Draft' %>"
          }
        })
      })
    })
  });
</script>
