<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Positive CMS</title>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/uploads.bundle.js"></script>

    <script>
      function ready(callbackFunction){
        if(document.readyState != 'loading')
          callbackFunction(event)
        else
          document.addEventListener("DOMContentLoaded", callbackFunction)
      }

      ready(event => {
        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
        var toastList = toastElList.map(function (toastEl) {
          var toast = new bootstrap.Toast(toastEl, {})
          toast.show()
        })
      })
    </script>
  </head>

  <body class="text-center">
    <div aria-live="polite" aria-atomic="true">
      <div class="toast-container position-absolute top-0 end-0 p-3">
        <% if toast %>
          <div class="toast align-items-center text-white bg-info border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
              <div class="toast-body">
                <%= t toast %>
              </div>
              <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <main class="form-signin">
      <form method="POST" action="/login">
        <h1 class="h3 mb-3 fw-normal"><%= t "Please sign in" %></h1>

        <div class="mt-5 mb-3 btn-group">
          <a href="/language/ja" class="btn btn-secondary <%= language == 'ja' ? 'active' : '' %>">日本語</a>
          <a href="/language/en" class="btn btn-secondary <%= language == 'en' ? 'active' : '' %>">English</a>
        </div>

        <div class="form-floating">
          <input name="email" type="email" class="form-control" id="email" placeholder="name@example.com">
          <label for="email"><%= t 'Email address' %></label>
        </div>

        <div class="form-floating">
          <input name="password" type="password" class="form-control" id="password" placeholder="<%= t 'Password' %>">
          <label for="password"><%= t 'Password' %></label>
        </div>

        <input type="submit" class="w-100 btn btn-lg btn-primary" value="<%= t 'Login' %>"/>

        <p class="mt-5 mb-3 text-muted"><%= t '© Positive Company LLC' %> <%= Date.today.year %></p>
      </form>
    </main>
  </body>
</html>
