<div class="mt-5 mb-3 d-flex">
  <div class="me-auto">
    <h2><%= t 'Change Password' %></h2>
  </div>
</div>

<div class="row justify-content-center">
  <form method="POST" action="/password_reset" class="col-xl-6">
    <% {
      old: 'Current Password',
      new1: 'New Password',
      new2: 'Confirm New Password',
    }.each do |id, label| %>
      <div class="row mb-3">
        <label for="<%= id %>" class="col-sm-12 col-md-4 col-lg-4 col-xl-4 col-form-label"><%= t label %></label>
        <div class="col-sm-12 col-md-8 col-lg-4 col-xl-8">
          <input name="<%= id %>" type="password" class="form-control" id="<%= id %>"/>
        </div>
      </div>
    <% end %>

    <input type="submit" id="submit_change" class="w-100 btn btn-lg btn-primary disabled" value="<%= t 'Set Password' %>"/>
  </form>
</div>

<script>
  function ready(callbackFunction) {
    if (document.readyState != "loading") {
      callbackFunction(event);
    } else {
      document.addEventListener("DOMContentLoaded", callbackFunction);
    }
  }

  function monitor() {
    var old = document.querySelector("#old");
    var new1 = document.querySelector("#new1");
    var new2 = document.querySelector("#new2");
    var submit = document.querySelector('#submit_change');

    function compare() {
      if (old.value != "" && new1.value == new2.value) {
        submit.classList.remove('disabled')
      } else {
        submit.classList.add('disabled')
      }
    }

    new1.addEventListener('input', function(new1e){
      compare()
    })

    new2.addEventListener('input', function(new2e){
      compare()
    })
  }

  ready(monitor)
</script>
