<div class="mt-5 mb-3 d-flex">
  <div class="me-auto">
    <h2><%= t 'Uploads' %></h2>
  </div>
</div>

<nav aria-label="<%= t 'Uploads navigation' %>">
  <ul class="pagination justify-content-center">
    <li class="page-item <%= @page == 0 ? 'disabled' : '' %>">
      <a class="page-link" href="/uploads/<%= @page - 1 %>" aria-label="<%= t 'Previous' %>">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    <% @pages.times do |page| %>
      <li class="page-item <%= @page == page ? 'active' : '' %>"><a class="page-link" href="/uploads/<%= page %>"><%= page %></a></li>
    <% end %>

    <li class="page-item <%= (@page+1) >= @pages ? 'disabled' : '' %>">
      <a class="page-link" href="/uploads/<%= @page + 1 %>" aria-label="<%= t 'Next' %>">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

<hr/>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @uploads.each do |upload| %>
    <div class="col card-group">
      <div class="card bg-light text-black">
        <a class="btn" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-path="<%= upload[:path] %>" style="width: 100%; height: 100%; object-fit: cover;">
          <img src="<%= upload[:path] %>" class="card-img-top" style="width: 100%; height: 100%; object-fit: cover;">
        </a>

        <div class="card-body">
          <ul>
            <% upload[:refs].each do |ref| %>
              <li>
              <a href="<%= ref %>"><%= ref.gsub(%r{^/edit/(.+)/(.+)$}, '\1 \2') %></a>
              </li>
            <% end %>
          </ul>
        </div>

        <div class="card-footer">
          <div class="row">
            <div class="col-9">
              <h5 class="card-title"><%= upload[:base] %></h5>
            </div>
            <div class="col-3">
              <form method="POST" action="/uploads/delete/<%= upload[:base] %>">
                <input type="submit" class="btn btn-danger" value="<%= t 'Delete' %>"/>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  <% end %>
</div>

<hr/>

<nav aria-label="<%= t 'Uploads navigation' %>">
  <ul class="pagination justify-content-center">
    <li class="page-item <%= @page == 0 ? 'disabled' : '' %>">
      <a class="page-link" href="/uploads/<%= @page - 1 %>" aria-label="<%= t 'Previous' %>">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    <% @pages.times do |page| %>
      <li class="page-item <%= @page == page ? 'active' : '' %>"><a class="page-link" href="/uploads/<%= page %>"><%= page %></a></li>
    <% end %>

    <li class="page-item <%= (@page+1) >= @pages ? 'disabled' : '' %>">
      <a class="page-link" href="/uploads/<%= @page + 1 %>" aria-label="<%= t 'Next' %>">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>


<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="imageModalLabel">Image</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img style="width: 100%; height: 100%; object-fit: contain;" src="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
